CSE445Final/FuneralWebsite/Connected Services/CalendarService/CalendarServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalendarServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar36.fulton.asu.edu/Page1/CalendarServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar36.fulton.asu.edu/Page1/CalendarServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalendarServices_CheckDayAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckDayAvailability" />
  </wsdl:message>
  <wsdl:message name="ICalendarServices_CheckDayAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDayAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarServices_ReserveDay_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveDay" />
  </wsdl:message>
  <wsdl:message name="ICalendarServices_ReserveDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveDayResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarServices_GetAllReservationsBetweenDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReservationsBetweenDates" />
  </wsdl:message>
  <wsdl:message name="ICalendarServices_GetAllReservationsBetweenDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReservationsBetweenDatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarServices_DeleteAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllData" />
  </wsdl:message>
  <wsdl:message name="ICalendarServices_DeleteAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalendarServices">
    <wsdl:operation name="CheckDayAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarServices/CheckDayAvailability" message="tns:ICalendarServices_CheckDayAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarServices/CheckDayAvailabilityResponse" message="tns:ICalendarServices_CheckDayAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserveDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarServices/ReserveDay" message="tns:ICalendarServices_ReserveDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarServices/ReserveDayResponse" message="tns:ICalendarServices_ReserveDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReservationsBetweenDates">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarServices/GetAllReservationsBetweenDates" message="tns:ICalendarServices_GetAllReservationsBetweenDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarServices/GetAllReservationsBetweenDatesResponse" message="tns:ICalendarServices_GetAllReservationsBetweenDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarServices/DeleteAllData" message="tns:ICalendarServices_DeleteAllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarServices/DeleteAllDataResponse" message="tns:ICalendarServices_DeleteAllData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalendarServices" type="tns:ICalendarServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckDayAvailability">
      <soap:operation soapAction="http://tempuri.org/ICalendarServices/CheckDayAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveDay">
      <soap:operation soapAction="http://tempuri.org/ICalendarServices/ReserveDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReservationsBetweenDates">
      <soap:operation soapAction="http://tempuri.org/ICalendarServices/GetAllReservationsBetweenDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllData">
      <soap:operation soapAction="http://tempuri.org/ICalendarServices/DeleteAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalendarServices">
    <wsdl:port name="BasicHttpBinding_ICalendarServices" binding="tns:BasicHttpBinding_ICalendarServices">
      <soap:address location="http://webstrar36.fulton.asu.edu/Page1/CalendarServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>