CSE445Final/FuneralWebsite/Connected Services/SaveFuneral/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar36.fulton.asu.edu/Page3/EulogyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar36.fulton.asu.edu/Page3/EulogyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EulogyServices_getAllEulogys_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllEulogys" />
  </wsdl:message>
  <wsdl:message name="EulogyServices_getAllEulogys_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllEulogysResponse" />
  </wsdl:message>
  <wsdl:message name="EulogyServices_getEulogy_InputMessage">
    <wsdl:part name="parameters" element="tns:getEulogy" />
  </wsdl:message>
  <wsdl:message name="EulogyServices_getEulogy_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEulogyResponse" />
  </wsdl:message>
  <wsdl:message name="EulogyServices_makeOrEditEulogy_InputMessage">
    <wsdl:part name="parameters" element="tns:makeOrEditEulogy" />
  </wsdl:message>
  <wsdl:message name="EulogyServices_makeOrEditEulogy_OutputMessage">
    <wsdl:part name="parameters" element="tns:makeOrEditEulogyResponse" />
  </wsdl:message>
  <wsdl:portType name="EulogyServices">
    <wsdl:operation name="getAllEulogys">
      <wsdl:input wsaw:Action="http://tempuri.org/EulogyServices/getAllEulogys" message="tns:EulogyServices_getAllEulogys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EulogyServices/getAllEulogysResponse" message="tns:EulogyServices_getAllEulogys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEulogy">
      <wsdl:input wsaw:Action="http://tempuri.org/EulogyServices/getEulogy" message="tns:EulogyServices_getEulogy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EulogyServices/getEulogyResponse" message="tns:EulogyServices_getEulogy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="makeOrEditEulogy">
      <wsdl:input wsaw:Action="http://tempuri.org/EulogyServices/makeOrEditEulogy" message="tns:EulogyServices_makeOrEditEulogy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EulogyServices/makeOrEditEulogyResponse" message="tns:EulogyServices_makeOrEditEulogy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_EulogyServices" type="tns:EulogyServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllEulogys">
      <soap:operation soapAction="http://tempuri.org/EulogyServices/getAllEulogys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEulogy">
      <soap:operation soapAction="http://tempuri.org/EulogyServices/getEulogy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeOrEditEulogy">
      <soap:operation soapAction="http://tempuri.org/EulogyServices/makeOrEditEulogy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_EulogyServices" binding="tns:BasicHttpBinding_EulogyServices">
      <soap:address location="http://webstrar36.fulton.asu.edu/Page3/EulogyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>