CSE445Final/FuneralWebsite/Connected Services/AWeirdPricingService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetJesus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJesusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJesusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="funeral_type" type="xs:int" />
        <xs:element minOccurs="0" name="cas_type" type="xs:int" />
        <xs:element minOccurs="0" name="flowers" type="xs:int" />
        <xs:element minOccurs="0" name="discount" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOnThisDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOnThisDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getOnThisDayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>